<html>

    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>


    </head>
    <body>
    <div class="container-fluid karkas">

        <div class="row header">
            <div class="col-md-6 logo">
                <a [routerLink]="['/dashboard']" [queryParams]="{ id: 1 }"><img src="resources/images/logo.png" alt=""></a>
            </div>
            <div class="col-md-6">
                <input type="checkbox" id="menu-checkbox" />
                <nav role="navigation"><!-- навигация -->
                    <label for="menu-checkbox" class="toggle-button" data-open="Menu" data-close="Close" onclick></label>
                    <ul class="menu">
                        <li><a [routerLink]="['/dashboard']" [queryParams]="{ id: 1 }" class="now">Dashboard</a></li>
                        <li>
                            <a [routerLink]="['/project']" [queryParams]="{ id: 1 }">Projects</a>
                            <ul class="menudown">
                                <li><a href="#">Projects 1</a></li>
                                <li><a href="#">Projects 2</a></li>
                                <li><a href="#">Projects 3</a></li>
                                <li><a href="#">Projects 4</a></li>
                            </ul>
                        </li>
                        <li>
                            <a [routerLink]="['/task']" [queryParams]="{ id: 1 }">Tasks</a>
                            <ul class="menudown">
                                <li><a href="#">My tasks</a></li>
                                <li><a [routerLink]="['tasks_list']">View all tasks</a></li>
                                <li><a href="#">Task 3</a></li>
                                <li><a href="#">Task 4</a></li>
                            </ul>
                        </li>
                        <li>
                            <a [routerLink]="['/developer']" [queryParams]="{ id: 1 }">Developers</a>
                        </li>
                        <li>
                            <a [routerLink]="['/statistics']" [queryParams]="{ id: 1 }">Statistics</a>
                            <ul class="menudown">
                                <li ><a href="#">Statistics 1</a></li>
                                <li><a href="#">Statistics 2</a></li>
                                <li><a href="#">Statistics 3</a></li>
                                <li><a href="#">Statistics 4</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container wrapper">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="radius">
                        <div class="border2">
                            <div class="row">
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Projects</th>
                                        <th >Task</th>
                                        <th >Priority</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let project of projects" class="success">
                                        <td >1</td>
                                        <td><a href="">{{project.title}}</a></td>
                                        <td><li *ngFor="let task of tasks"><a [routerLink]="['/task']" [queryParams]="{ id: 1 }" >
                                            {{task.title}}</a>
                                        </li></td>
                                        <td><li *ngFor="let task of tasks">{{task.priority.priorityValue}}</li></td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td >2</td>
                                        <td><a href="">Projects 2</a></td>
                                        <td><a [routerLink]="['/tasks']">Task 2</a></td>
                                        <td>Main</td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr class="success">
                                        <td >3</td>
                                        <td><a href="">Projects 3</a></td>
                                        <td><a [routerLink]="['/tasks']">Task 3</a></td>
                                        <td>Main</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6 activity">
                                    <p>Activity</p>

                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        <div class="row footer">
            <div class="col-md-4 ">
                <img src="resources/images/footer.png" alt="">
        </div>
            <div class="col-md-8">
                <p class="copy">© 2017 ATMS.com - All Rights Reserved</p>
                <p class="ftr-nav">
                    <a href="#">Dashboard</a> | <a href="#">Projects</a> | <a href="#">Tasks</a> | <a href="#">Developers</a> | <a href="#">Statistics</a>
                </p>
            </div>
        </div>
    </div><!-- .container karkas -->


</body>
</html>