<!doctype html>
<div lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Porfolio</title>


    </head>
    <div>
        <div class="container-fluid karkas">

            <div class="row header">
                <div class="col-md-4">
                    <a [routerLink]="['/dashboard']"><img src="resources/images/atms_logo.png" alt=""></a>
                </div>
                <div class="col-md-8">
                    <ul class="menu">
                        <li><a href="#" class="now">Dashboard</a></li>
                        <li>
                            <a href="#" >Projects</a>
                            <ul class="dropdown">
                                <li><a href="#">Projects 1</a></li>
                                <li><a href="#">Projects 2</a></li>
                                <li><a href="#">Projects 3</a></li>
                                <li><a href="#">Projects 4</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" >Tasks</a>
                            <ul class="dropdown">
                                <li><a href="#">Task 1</a></li>
                                <li><a href="#">Task 2</a></li>
                                <li><a href="#">Task 3</a></li>
                                <li><a href="#">Task 4</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" >Developers</a>
                            <ul class="dropdown">
                                <li><a href="#">Developers 1</a></li>
                                <li><a href="#">Developers 2</a></li>
                                <li><a href="#">Developers 3</a></li>
                                <li><a href="#">Developers 4</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" >Statistics</a>
                            <ul class="dropdown">
                                <li><a href="#">Statistics 1</a></li>
                                <li><a href="#">Statistics 2</a></li>
                                <li><a href="#">Statistics 3</a></li>
                                <li><a href="#">Statistics 4</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
           <div class="row">
               <div class="col-md-6 dashboard-side">
                   <ul class="dashboard-menu">
                       <li class="menu__list"><a href="#">Project 1</a>
                           <ul class="menu__drop">
                               <li><a href="#">Tasks</a></li>
                               <li><a href="#">Tasks</a></li>
                               <li><a href="#">Tasks</a></li>
                               <li><a href="#">Tasks</a></li>
                               <li><a href="#">Tasks</a></li>
                           </ul>
                       </li>
                       <li class="menu__list"><a href="#">Project 2</a>
                           <ul class="menu__drop">
                               <li><a href="#">Tasks</a></li>
                               <li><a href="#">Tasks</a></li>
                               <li><a href="#">Tasks</a></li>
                               <li><a href="#">Tasks</a></li>
                               <li><a href="#">Tasks</a></li>
                           </ul>
                       </li>
                       <li><a href="#">Project 3</a></li>
                       <li><a href="#">Project 4</a></li>
                       <li class="menu__list"><a href="#">Project 5</a>
                           <ul class="menu__drop">
                               <li><a href="#">Tasks</a></li>
                               <li><a href="#">Tasks</a></li>
                               <li><a href="#">Tasks</a></li>
                               <li><a href="#">Tasks</a></li>
                               <li><a href="#">Tasks</a></li>
                           </ul>
                       </li>
                       <li><a href="#">Project 6</a></li>
                       </ul>
                   <h1>
1
               </h1>
                   <h1>
2
                   </h1>
                   <h1>
3
                   </h1>
               </div>
           </div>
            <div class="row">
                <div class="col-md-12 footer">
                    <p class="copy">Copyright 2016 Serpent. Rights reserved</p>
                    <p class="social">
                        <img src="images/frss.jpg" alt="">
                        <img src="images/fskype.jpg" alt="">
                        <img src="images/ftwittr.jpg" alt="">
                        <img src="images/ffacebook.jpg" alt="">
                    </p>
                    <p class="ftr-nav">
                        <a href="#">Contacts</a> | <a href="#">Support</a> | <a href="#">Login</a>
                    </p>
                </div>
            </div>
        </div>  <!-- .container karkas -->


    </div>
</div>


