<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-fluid karkas">

    <div class="row header">
        <div class="col-md-6 logo">
            <a [routerLink]="['/']"><img src="resources/images/logo.png" alt=""></a>
        </div>
        <div class="col-md-6">
            <input type="checkbox" id="menu-checkbox" />
            <nav role="navigation"><!-- навигация -->
                <label for="menu-checkbox" class="toggle-button" data-open="Menu" data-close="Close" onclick></label>
                <ul class="menu">
                    <li><a [routerLink]="['/']" class="now">Dashboard</a></li>
                    <li>
                        <a class="disabled">Projects</a>
                        <ul class="menudown">
                            <li><a [routerLink] = "['/my_projects']">My projects</a></li>
                            <li><a [routerLink] = "['/projects_list']">View all projects</a></li>
                            <li><a [routerLink] = "['/new_project']">New project</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="disabled">Tasks</a>
                        <ul class="menudown">
                            <li><a [routerLink]="['/my_tasks']" >My tasks</a></li>
                            <li><a [routerLink]="['/tasks_list']">View all tasks</a></li>
                            <li><a [routerLink]="['/new_task']">New task</a></li>
                        </ul>
                    </li>
                    <li>
                        <a [routerLink]="['/developer']" [queryParams]="{ id: id }">Developers</a>
                    </li>
                    <li>
                        <a [routerLink]="['/statistics']">Statistics</a>
                        <ul class="menudown">
                            <li ><a href="#">Statistics 1</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="my-info" [routerLink]="['/developer']">{{nickname}}</a>
                        <ul class="menudown">
                            <li ><a class="my-info" [routerLink]="['/login']">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container wrapper">
        <div class="row">
            <div class="col-md-12 ">
                <div class="radius">
                    <div class="border2">
                        <div class="row">
                            <form name="form" (ngSubmit)="update()">
                                <div class="col-md-3">

                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control" name="title" [(ngModel)]="model.title"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Date start</label>
                                        <input type="date" class="form-control" name="calendar" [(ngModel)]="model.start"/>

                                    </div>
                                    <div class="form-group">
                                        <label>Deadline</label>
                                        <input type="date" class="form-control" name="calendar" [(ngModel)]="model.finish"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Duration</label>
                                        <input type="text" class="form-control" [(ngModel)]="model.duration" name="duration"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Project</label>
                                        <select class="form-control" [(ngModel)]="model.project" name="project">
                                            <option *ngFor="let project of projects" value={{project.projectId}}>{{project.title}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group" >
                                        <label >Priority</label>
                                        <select class="form-control" [(ngModel)]="model.priority" name="priority">
                                            <option *ngFor="let priority of priorities" value={{priority.priorityId}}>{{priority.priorityValue}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group" >
                                        <label >Type</label>
                                        <select class="form-control" [(ngModel)]="model.type" name="type">
                                            <option *ngFor="let type of types" value={{type.typeId}}>{{type.typeValue}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group" >
                                        <label >Developer</label>
                                        <select class="form-control" [(ngModel)]="model.developer" name="developer">
                                            <option *ngFor="let developer of developers" value={{developer.developerId}}>{{developer.nickname}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="form-control" [(ngModel)]="model.status" name="status">
                                            <option *ngFor="let status of statuses" value={{status.statusId}}>{{status.value}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Requirements</label>
                                        <form>
                                            <input type="text" class="form-control" />
                                        </form>
                                    </div>

                                    <button class="btn bnt-success">Save</button>

                                </div>
                                <div class="col-md-9">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="12" [(ngModel)]="model.description" name="description"></textarea>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-md-4 ">
            <img src="resources/images/footer.png" alt="">
        </div>
        <div class="col-md-8">
            <p class="copy">© 2017 ATMS.com - All Rights Reserved</p>
            <p class="ftr-nav">
                <a href="#">Dashboard</a> | <a href="#">Projects</a> | <a href="#">Tasks</a> | <a href="#">Developers</a> | <a href="#">Statistics</a>
            </p>
        </div>
    </div>
</div><!-- .container karkas -->
</body>
</html>