<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-fluid karkas">

    <div class="row header">
        <div class="col-md-6 logo">
            <a [routerLink]="['/dashboard']"><img src="resources/images/logo.png" alt=""></a>
        </div>
        <div class="col-md-6">
            <ul class="menu">
                <li><a [routerLink]="['/dashboard']" class="now">Dashboard</a></li>
                <li>
                    <a [routerLink]="['/projects']" >Projects</a>
                    <ul class="menudown">
                        <li><a href="#">Projects 1</a></li>
                        <li><a href="#">Projects 2</a></li>
                        <li><a href="#">Projects 3</a></li>
                        <li><a href="#">Projects 4</a></li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['/tasks']" >Tasks</a>
                    <ul class="menudown">
                        <li><a href="#">Task 1</a></li>
                        <li><a href="#">Task 2</a></li>
                        <li><a href="#">Task 3</a></li>
                        <li><a href="#">Task 4</a></li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['/developers']">Developers</a>
                </li>
                <li>
                    <a href="#" >Statistics</a>
                    <ul class="menudown">
                        <li ><a href="#">Statistics 1</a></li>
                        <li><a href="#">Statistics 2</a></li>
                        <li><a href="#">Statistics 3</a></li>
                        <li><a href="#">Statistics 4</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container wrapper">
        <div class="row">
            <div class="col-md-12 ">
                <div class="radius">
                    <div class="border2">
                        <div class="col-md-2">
                            <h1 id="Tasks-id">Tasks</h1>
                            <div class="tasks-p">
                                <p><span class="select"> Priority: </span>main</p>
                                <p><span class="select"> Version:</span> 1.0.1</p>
                                <p><span class="select"> Developer:</span> Serpent</p>
                                <p><span class="select"> Functional:</span> functional</p>
                                <p><span class="select"> Type:</span> type</p>
                                <p><span class="select"> Beginning:</span> 20.01.2020</p>
                                <p><span class="select"> Deadline:</span> 21.02.2020</p>
                                <p><span class="select"> Technologies:</span> Angular 2</p>
                                <p><span class="select"> Keywords:</span> keywords</p>
                            </div>
                        </div>
                        <div class="col-md-10">
                        <p class ="description">DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                            DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                            DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                            DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                            DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                            DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                            DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                            DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                            DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                            DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                            DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                            DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                            DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                            DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION</p>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                    </div>
                    <div class="btn-projects">
                    <button class="btn btn-success ">Take</button>
                    <button class="btn btn-success">Change</button>
                    <button class="btn btn-success">Appoint</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-md-4 ">
            <img src="resources/images/footer.png" alt="">
        </div>
        <div class="col-md-8">
            <p class="copy">© 2017 ATMS.com - All Rights Reserved</p>
            <p class="ftr-nav">
                <a href="#">Dashboard</a> | <a href="#">Projects</a> | <a href="#">Tasks</a> | <a href="#">Developers</a> | <a href="#">Statistics</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>