
ul {
    list-style: none;
}
.karkas {
    background: #fff;

}
.wrapper{
    padding-bottom: 211px;
}
.logo{
    padding-top: 10px;
}
body{
    height: 100%;

}
html {
    position:relative;
    min-height:100%;
}
.header{
    background:#292929 ;
}

.menu{

}
.menu li{
    position: relative;
    float: left;  display: block;
    z-index: 99;
}
.menu ul li{

    position: relative;
}
.menu ul li a {
    color: #fff; text-decoration: none; font-size: 13px;
    padding: 5px 10px; display: block;
    font-family: 'open_sansbold',Arial, Helvetica, sans-serif;
}
.menu li a{
    overflow: hidden;
    color: #fff; text-decoration: none; font-size: 14px; font-weight: normal;
    padding:20px 20px; display: block;
    margin-top: 10px;
    border-bottom:3px solid #292929;
}
.menu li a:hover{
    color:#58c93a; border-bottom:3px solid #58c93a;
}

.menudown {
    position: absolute;
    top:100%;
    background:#292929 ;
    width: 150px;
    padding: 0;
    margin: 0;
    display: none;
}
.menu li:hover .menudown{
    display: block;
    background: #292929;
}
.menu ul li a:hover {
    color:#58c93a;
}
.menudown li {
    width: 100%;
}

.dashboard-menu a{
    text-decoration: none;
    background: #3d3d3d;
    color: #fff;
    display: block;
    padding: 0;
    border-bottom: 1px solid #666;
    transition: 0.5s all;
}


.footer{
    background: #252525; font-size: 12px; overflow: hidden; color: #959595; padding: 0 0 10px 0;
    height: 50px;;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer a{
    color: #959595; text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}

.radius{
    position: relative;
    min-height: 375px;
    margin: 30px 20px 30px 20px;
    padding: 1em 1em 2em 1em;
    border-radius: 10px;
    background: rgb(88, 201, 58) radial-gradient(circle at 84% 100%, rgba(255,255,255,.99), rgba(88, 201, 58,.99));
    box-shadow:
    inset 3px 3px 3px rgba(230,242,209,0.99),
    inset -1px -2px 3px rgba(00,00,00,0.99),

    0px 12px 55px -8px #000000;
}

.border2{
    position: relative;
    min-height: 375px;
    border-radius: 10px;
    background: #f0f0f0; /* ���� ���� */
    padding: 15px; /* ���� ������ ������ */
    margin: 1px 10px 1px 10px; /* ������ ����� */
}
@media screen and (max-width: 745px)
{
    .logo
    {
        display: block;
        margin: 0 auto;
    }

}


.description{
    top: 3em;
}

.btn
{
    box-shadow:
    inset 3px 3px 3px rgba(230,242,209,0.99);
    background:#58c93a ;
    border: none;
    padding: 4px 10px 4px 10px;
    font-size: 12px;
}
.btn-projects{
    float: right;
    padding-right: 250px;
}
.project-down p:hover{
    color:#58c93a; border-bottom:2px solid #58c93a;
}
#Tasks-id {
    margin: 0;
    padding: 0 0 6px 0;
    font-size: 26px;
    color: #58c93a;
}
.select{
    font-weight: 600;
}