textarea {
    outline: none;
    resize: none;
}
ul {
    list-style: none;
}
.karkas {
    background: #fff;

}
.wrapper{
    padding-bottom: 211px;
}
.logo{
    padding-top: 10px;
}
body{
    height: 100%;

}
html {
    position:relative;
    min-height:100%;
}
.header{
    background:#292929 ;
}

.menu{

}
.menu li{
    position: relative;
    float: left;  display: block;
    z-index: 99;
}
.menu ul li{

    position: relative;
}
.menu ul li a {
    color: #fff; text-decoration: none; font-size: 13px;
    padding: 5px 10px; display: block;
    font-family: 'open_sansbold',Arial, Helvetica, sans-serif;
}
.menu li a{
    overflow: hidden;
    color: #fff; text-decoration: none; font-size: 14px; font-weight: normal;
    padding:20px 20px; display: block;
    margin-top: 10px;
    border-bottom:3px solid #292929;
}
.menu li a:hover{
    color:#58c93a; border-bottom:3px solid #58c93a;
}

.menudown {
    position: absolute;
    top:100%;
    background:#292929 ;
    width: 150px;
    padding: 0;
    margin: 0;
    display: none;
}
.menu li:hover .menudown{
    display: block;
    background: #292929;
}
.menu ul li a:hover {
    color:#58c93a;
}
.menudown li {
    width: 100%;
}


.footer{
    background: #252525; font-size: 12px; overflow: hidden; color: #959595; padding: 0 0 10px 0;
    height: 50px;;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer a{
    color: #959595; text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}

.radius{
    position: relative;

    margin: 30px 20px 30px 20px;
    padding: 1em;
    border-radius: 10px;
    background: rgb(88, 201, 58) radial-gradient(circle at 84% 100%, rgba(255,255,255,.99), rgba(88, 201, 58,.99));
    box-shadow:
    inset 3px 3px 3px rgba(230,242,209,0.99),
    inset -1px -2px 3px rgba(00,00,00,0.99),

    0px 12px 55px -8px #000000;
}

.border2{
    position: relative;
    border-radius: 10px;
    background: #f0f0f0; /* ÷вет фона */
    padding: 15px; /* ѕол€ вокруг текста */
    margin: 10px 10px 10px 10px; /* ќтступ снизу */
}
@media screen and (max-width: 745px)
{
    .logo
    {
        display: block;
        margin: 0 auto;
    }

}

.projects-tree a{
    color: #000;
    text-decoration: none;
    padding: 5px 0 0 10px;

}

.description{
    top: 2em;
}

.projects{
    font-size: 10px;
    margin: 0;
    padding: 0;
}
#pro-btn{
    margin: 0;
    padding: 0;
}
#pro-btn2{
    margin: 0;
    padding: 0;
}
.btn-projects{
    overflow: hidden;
    padding-left: 10px;
}
.project-down{
    border-bottom:1px solid #f0f0f0;
    display: block;
    color: #000;
    text-decoration: none;
}

.btn
{
    box-shadow:
    inset 3px 3px 3px rgba(230,242,209,0.99);
    background:#58c93a ;
    border: none;
}
.project-down p:hover{
    color:#58c93a; border-bottom:2px solid #58c93a;
}

.select{
    font-weight: 600;
}
#menu-checkbox {
    /* чекбокс скрыт */
    display: none;
}
.menu {
    /* пункты меню скрыты */
    display: none;
    padding: 0;
    margin: 0;
    background: #292929;
}
.menu li a{
    margin: 0;
    padding: 2px;
}
.menu li {
    /* пункты меню расположены вертикально */
    /* каждый имеет ширину 100% */
    font-size: 1em;
    display: block;
    width: 100%;
    background: #292929;
}
.menu a {
    /* немного стилизуем ссылки */

    display: block;
    padding: .5em;
    text-decoration: none;
    background: #292929;
}
.menu a:hover {
    text-decoration: underline;

}
.toggle-button {
    text-align: center;
    display: block;
    /* не забываем €вно указать каким должен быть курсор */
    cursor: pointer;
    /*кнопка*/
    background-color: #333;
    color: #fff;
}
.toggle-button:after {
    /* получаем данные из атрибута data-open в html */
    content: attr(data-open);
    display: block;
    margin:  0;
    padding: 5px 5px;
}
#menu-checkbox:checked + nav[role="navigation"] .\menu {
    /* когда чекбокс активен меню становитс€ видимым */
    display: block;
}
#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
    content: attr(data-close);
}
@media screen and (min-width: 640px) {
    .toggle-button {
        /* label скрыт */
        display: none;
    }
    .menu {
        display: block;
        margin: 0 auto;
        background-color: #292929;;
        height: 30px;
    }
    .menu li {
        /* теги <li> расположены в р€д */
        width: calc(100% / 6);
        text-align: center;
        display: inline-block;
        margin-right: -4px;
    }

    .menu li{
        position: relative;
        float: left;  display: block;
        z-index: 99;
    }
    .menu ul li{

        position: relative;
    }
    .menu ul li a {
        color: #fff; text-decoration: none; font-size: 13px;
        padding: 5px 10px; display: block;
    }
    .menu li a{
        overflow: hidden;
        color: #fff; text-decoration: none; font-size: 14px; font-weight: normal;
        padding:20px 20px; display: block;
        margin-top: 10px;
        border-bottom:3px solid #292929;
    }
    .menu li a:hover{
        color:#58c93a; border-bottom:3px solid #58c93a;
    }

    .menudown {
        position: absolute;
        top:100%;
        background:#292929 ;
        width: 150px;
        padding: 0;
        margin: 0;
        display: none;
    }
    .menu li:hover .menudown{
        display: block;
        background: #292929;
    }
    .menu ul li a:hover {
        color:#58c93a;
    }
    .menudown li {
        width: 100%;
    }

}
.main-content{
   overflow: auto;
}