<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>

<div class="container-fluid karkas">

    <div class="row header">
        <div class="col-md-6 logo">
            <a [routerLink]="['/']"><img src="resources/images/logo.png" alt=""></a>
        </div>
        <div class="col-md-6">
            <input type="checkbox" id="menu-checkbox" />
            <nav role="navigation"><!-- навигация -->
                <label for="menu-checkbox" class="toggle-button" data-open="Menu" data-close="Close" onclick></label>
                <ul class="menu">
                    <li><a [routerLink]="['/']" class="now">Dashboard</a></li>
                    <li>
                        <a class="disabled">Projects</a>
                        <ul class="menudown">
                            <li><a [routerLink] = "['/my_projects']">My projects</a></li>
                            <li><a [routerLink] = "['/projects_list']">View all projects</a></li>
                            <li><a [routerLink] = "['/new_project']">New project</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="disabled">Tasks</a>
                        <ul class="menudown">
                            <li><a [routerLink]="['/my_tasks']" >My tasks</a></li>
                            <li><a [routerLink]="['/tasks_list']">View all tasks</a></li>
                            <li><a [routerLink]="['/new_task']">New task</a></li>
                        </ul>
                    </li>
                    <li>
                        <a [routerLink]="['/developer']" [queryParams]="{ id: id }">Developers</a>
                    </li>
                    <li>
                        <a [routerLink]="['/statistics']">Statistics</a>
                        <ul class="menudown">
                            <li ><a href="#">Statistics 1</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="my-info" [routerLink]="['/developer']">{{nickname}}</a>
                        <ul class="menudown">
                            <li ><a class="my-info" [routerLink]="['/login']">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
    <div class="container wrapper">
        <div class="row content">
                        <div class="col-md-3">
                            <h1 class="tasks">{{task.title}}</h1>
                            <div class="tasks-p">
                                <p><span class="select"> Priority: </span>{{task.priority.priorityValue}}</p>
                                <p><span class="select"> Version:</span> {{task.version}}</p>
                                <p><span class="select"> Developer:</span> {{task.developer.nickname}}</p>
                                <p><span class="select"> Type:</span> {{task.type.typeValue}}</p>
                                <p><span class="select"> Beginning:</span> {{task.dateStart |date}}</p>
                                <p><span class="select"> Deadline:</span> {{task.deadline |date}}</p>
                                <p><span class="select"> Duration:</span>{{task.duration}}</p>
                                </div>

                        </div>
                        <div class="col-md-9">
                            <p class ="description">{{task.description}}</p>
                        </div>

        </div>
        <ul class="buttons">
            <li><a class="more">Appoint</a></li>
            <li><a [routerLink]="['/edit_task']" class="more">Change</a></li>
            <li><a [routerLink]="['/my_tasks']" class="more" (click)="inputIdDev(id)">Take</a></li>
        </ul>
    </div>

    <div class="container-fluid footer">
    <div class="row">
        <div class="col-md-4 ">
            <img src="resources/images/footer.png" alt="">
        </div>
        <div class="col-md-8">
            <p class="copy">© 2017 ATMS.com - All Rights Reserved</p>
            <p class="ftr-nav">
                <a href="#">Dashboard</a> | <a href="#">Projects</a> | <a href="#">Tasks</a> | <a href="#">Developers</a> | <a href="#">Statistics</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>